#titulo-index{
    text-align:auto;
    font-size: 68px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    padding-top: 185px;
    padding-bottom: 1px;
}
#titulo-index2{
    text-align:auto;
    font-size: 64px;
    color:red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    padding-top: 1px;
    padding-bottom: 150px;
}
#titulo-index3{
    position:absolute;
    text-align:left;
    font-size: 64px;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 20px;
}
#titulo-index4{
    position: absolute  ;
    text-align:left;
    font-size: 44px;
    color:red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    padding-top: 120px;
    padding-bottom: 20px;
    margin: auto;
    
}
#paragrafo{
    position: absolute  ;
    text-align:left;
    font-size: 25px;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 220px;
    padding-bottom: 20px;
    margin: auto;
}

section{
    float:right;
    margin:auto;
    display:flex;
    width: 600px;
    height: 350px;
    padding-top: 20px;

}
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor:cell;
    width: 300px;
    opacity:1;
    filter: contrast(120%);
}
#dif{
    margin: auto;
    display:flex;
    width: 1000px;
    height: 350px;
}   
.links{
padding: 1.3em 3em;
font-size: 12px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: black;
background-color: white;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px black;
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}
.links:hover{
background-color: rgb(255, 0, 0);
box-shadow: 0px 15px 20px rgb(83, 0, 0);
color: #fff;
transform: translateY(-7p);
}
#bpp1{
   text-align:center;
    font-size: 45px;
    color:red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 40px;
}
#gpt{
    width: 100%;
    height: 322px;
    margin: 0 auto;
}
#img-bpp{
    float: right;
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: auto;
}
#img-bpp1{
    float: left;
    align-items:end;
    width: 400px;
    height: 400px;
    margin: auto;
}
#img-bpp2{
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto;
}

