#titulo-index{
    text-align:center;
    font-size: 40px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

section{
    margin: 0 auto;
    display: flex;
    width: 600px;
    height: 350px;
}
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor:cell;
    width: 300px;
    opacity:1;
    filter: contrast(120%);
}
.links{
padding: 1.3em 3em;
font-size: 12px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: black;
background-color: white;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px black;
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}
.links:hover{
background-color: rgb(255, 0, 0);
box-shadow: 0px 15px 20px rgb(83, 0, 0);
color: #fff;
transform: translateY(-7p);
}